<div class="backdrop" (click)="onModalClose()"></div>
<div class="modal-container">
    <header class="modal-header">
        <div class="header-rows">
            <span class="header-row-1"
                >{{ rowData.flightNumber }} Registration</span
            ><span class="header-row-2"
                >{{ rowData.scheduledDate | date: "dd/MM/yy" }} -
                {{ rowData.scheduledDate | date: "hh:mm" }}</span
            >
        </div>
        <div class="header-close">
            <span (click)="onModalClose()">&#10006;</span>
        </div>
    </header>
    <div class="centre-frame">
        <label class="registration-label">Registration</label>
        <input
            class="registration-input"
            type="text"
            [(ngModel)]="registrationNumberCreator"
            list="arrayOfRegistrations"
        /><datalist
            id="arrayOfRegistrations"
            *ngIf="registrationNumber.length >= 2"
        >
            <option value="registration"></option>
            <option
                *ngFor="let number of arrayOfRegistrations"
                [value]="number"
            ></option>
        </datalist>
    </div>
    <footer class="modal-footer">
        <div class="button-cancel" (click)="onModalClose()">
            <button>cancel</button>
        </div>
        <div class="button-save" (click)="onSaveChanges()">
            <button>save</button>
        </div>
    </footer>
</div>
