<div class="backdrop" (click)="onModalClose()"></div>
<div class="modal-container" (click)="onListClose()">
    <header class="modal-header">
        <div class="header-rows">
            <span class="header-row-1"
                >{{ rowData.flightNumber }} Registration</span
            ><span class="header-row-2"
                >{{ rowData.scheduledDate | date: "dd/MM/yy" }} -
                {{ rowData.scheduledDate | date: "hh:mm" }}</span
            >
        </div>
        <div class="header-close">
            <span (click)="onModalClose()">&#10006;</span>
        </div>
    </header>
    <div class="centre-frame">
        <label class="registration-label">Registration</label>
        <input
            class="registration-input"
            type="text"
            (keyup)="onKey()"
            [(ngModel)]="registrationNumber"
            list="filteredArray"
        />
        <div
            class="data-list"
            *ngIf="registrationNumber.length >= 2 && listVisible"
        >
            <label class="data-list-header"
                ><span [ngStyle]="{ 'font-weight': 'bold' }">REGISTRATION</span>
                &#160;({{ filteredArray.length }})
            </label>
            <label
                *ngFor="let element of filteredArray"
                (click)="onSelection($event)"
                >{{ element }}</label
            >
        </div>
    </div>
    <footer class="modal-footer">
        <div class="button-cancel">
            <button (click)="onModalClose()">cancel</button>
        </div>
        <div class="button-save">
            <button (click)="onSaveChanges()">save</button>
        </div>
    </footer>
</div>
