.modal-container {
    width: 359px;
    height: 230px;
    background-color: #f0f0f0;
    display: flex;
    z-index: 10;
    position: fixed;
    transition: all 0.3s ease-out;
    margin: auto;
    left: 0;
    right: 0;
}

.modal-header {
}
